#!/bin/sh

# default values for local testing
export JWT_BUILDKITE_ORGANIZATION_SLUG="test-org"

# add your own .envrc.private file to override any of the defaults without
# affecting your working copy
source_env_if_exists .envrc.private
