#!/bin/sh

# default values for local testing
export ENV=development

# add your own .envrc.private file to set required configuration or override any
# of the defaults without affecting your working copy
source_env_if_exists .envrc.private

#
# Declare the following in your .envrc.private: don't commit these!
#

# Application configuration
# required
# export JWT_BUILDKITE_ORGANIZATION_SLUG="<your test organization slug>"

# export JWT_JWKS_STATIC="$(cat .development/keys/jwks.json)"
# export JWT_JWKS_URL="https://local.testing"
# export JWT_AUDIENCE="test-audience"

# required
# export BUILDKITE_API_TOKEN="<your buildkite token for local testing>"

# required
# export GITHUB_APP_PRIVATE_KEY="<app private key pem>"
# required
# export GITHUB_APP_ID="<id of app>"
# required
# export GITHUB_APP_INSTALLATION_ID="<id of installation of app for user/organization>"

# JWT creation tool
# export UTIL_AUDIENCE="test-audience"
# export UTIL_SUBJECT="test-subject"
# export UTIL_ISSUER="https://local.testing"
# export UTIL_BUILDKITE_ORGANIZATION_SLUG="<your test organization slug>"
# export UTIL_BUILDKITE_PIPELINE_SLUG="<the pipeline to generate the JWT for>"

# useful git variables for understanding if the credential helper is working
# export GIT_TRACE=2
# export GIT_CURL_VERBOSE=1
# export GIT_TRACE_PACKET=1
