#!/bin/sh

# default values for local testing
export JWT_BUILDKITE_ORGANIZATION_SLUG="test-org"

# add your own .envrc.private file to override any of the defaults without
# affecting your working copy
source_env_if_exists .envrc.private

#
# Declare the following in your .envrc.private: don't commit these!
#

# Application configuration
# export JWT_BUILDKITE_ORGANIZATION_SLUG="<your test organization slug>"
# export JWT_JWKS_STATIC="$(cat .development/keys/jwks.json)"
# export JWT_JWKS_URL="https://local.testing"
# export JWT_AUDIENCE="test-audience"
# export BUILDKITE_API_TOKEN="<your buildkite token for local testing>"

# JWT creation tool
# export UTIL_AUDIENCE="test-audience"
# export UTIL_SUBJECT="test-subject"
# export UTIL_ISSUER="https://local.testing"
# export UTIL_BUILDKITE_ORGANIZATION_SLUG="<your test organization slug>"
# export UTIL_BUILDKITE_PIPELINE_SLUG="<the pipeline to generate the JWT for>"
