#!/bin/sh

# default values
export GIT_CONFIG_COUNT=2
export GIT_CONFIG_KEY_0="credential.https://github.com.usehttppath"
export GIT_CONFIG_VALUE_0="true"
helper_path="$(expand_path ../helper)"
export GIT_CONFIG_KEY_1="credential.https://github.com.helper"
export GIT_CONFIG_VALUE_1="${helper_path}/buildkite-connector-credential-helper http://localhost:${SERVER_PORT:-8080}/credential-helper"


source_up

# add your own .envrc.private file to set required configuration or override any
# of the defaults without affecting your working copy
source_env_if_exists ".envrc.private"


############# example .envrc.private #################

#
# Git diagnostics
#

# useful git variables for understanding if the credential helper is working
# export GIT_TRACE=2
# export GIT_CURL_VERBOSE=1
# export GIT_TRACE_PACKET=1

